@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html{
  width: 100svw;
  height: 100svh;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100svw;
  height: 100svh;
}

@keyframes fill {
  0% { width: 0%; }
  100% { width: 100%; }
}
.animate-fill {
  animation: 2s ease-in-out forwards;
}

.glow{
  /* filter:drop-shadow(rgba(211, 229, 247, 0.8) 0 0 30px 5px); */
  filter: drop-shadow(0 0 10px white);
}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.glitch-text {
  position: relative;
  text-shadow:
    0 0 5px #00f,
    0 0 10px #00f,
    0 0 20px #0ff,
    0 0 40px #0ff;
  font-family: 'Orbitron', sans-serif;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #00f;
  z-index: -1;
  clip: rect(0, 900px, 0, 0);
}
/* 
.glitch-text::before {
  animation: glitchTop 2s infinite linear alternate-reverse;
}

.glitch-text::after {
  animation: glitchBottom 2s infinite linear alternate-reverse;
  color: #0ff;
} */

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0.5px, -1px);
  }
  20% {
    clip: rect(0, 9999px, 10px, 0);
    transform: translate(-1.5px, 1px);
  }
  40% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(1px, -0.5px);
  }
  100% {
    clip: rect(0, 9999px, 10px, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-0.5px, 1px);
  }
  20% {
    clip: rect(0, 9999px, 8px, 0);
    transform: translate(1.5px, -1px);
  }
  40% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-1px, 0.5px);
  }
  100% {
    clip: rect(0, 9999px, 8px, 0);
    transform: translate(0, 0);
  }
}
